html
    head
        title #{title}
        link(rel='stylesheet' href='/css/style.css')
    body
        h1 Office Supplies
        a(href='/update-cobj') Add to this table
        table
            thead
                tr
                    th Name
                    th Quantity
                    th Purchase Date
            tbody
                each item in data
                    tr
                        td #{item.properties.name}
                        td #{item.properties.quantity}
                        td #{item.properties.purchase_date}